{{ define "reputation.rules.yaml.tpl" }}
- name: agent.rules
  rules:

  - alert: ReputationFetcherFeedProcessingErrorLevel
    expr: increase({__name__=~".*reputation_monitor_trace_fetcher_.*_error_count"}[5m]) > 0
    labels:
      severity: error
      component: reputation
    annotations:
      description: Reputation Fetcher ({{`{{ $labels.namespace }}`}}/{{`{{ $labels.pod }}`}} in {{`{{ $labels.environment }}`}}) - warnings increase while fetching feeds {{`{{ $value }}`}} {{`{{ $labels.__name__ }}`}}
        feeds in last 5 minutes. 
      summary: Inventory Processor no events
      env: "{{`{{ $labels.environment }}`}}"


  - alert: ReputationFetcherFeedProcessingWarningLevel
    expr: increase({__name__=~".*reputation_monitor_trace_fetcher_.*_warn_count"}[5m]) > 0
    labels:
      severity: warning
      component: reputation
    annotations:
      description: Reputation Fetcher ({{`{{ $labels.namespace }}`}}/{{`{{ $labels.pod }}`}} in {{`{{ $labels.environment }}`}}) - warnings increase while fetching feeds {{`{{ $value }}`}} {{`{{ $labels.__name__ }}`}}
        feeds in last 5 minutes. 
      summary: Inventory Processor no events
      env: "{{`{{ $labels.environment }}`}}"
       
  - alert: ReputationTransformerWarningLevel
    expr: increase({__name__=~".*reputation_monitor_trace_reputation_.*_warn_count"}[5m]) > 0
    labels:
      severity: warning
      component: reputation
    annotations:
      description: Reputation Transformer ({{`{{ $labels.namespace }}`}}/{{`{{ $labels.pod }}`}} in {{`{{ $labels.environment }}`}}) - warnings processing feeds {{`{{ $value }}`}} {{`{{ $labels.__name__ }}`}}
        feeds in last 5 minutes. 
      summary: Inventory Processor no events
      env: "{{`{{ $labels.environment }}`}}"

  - alert: ReputationTransformerErrorLevel
    expr: increase({__name__=~".*reputation_monitor_trace_reputation_.*_error_count"}[5m]) > 0
    labels:
      severity: warning
      component: reputation
    annotations:
      description: Reputation Transformer ({{`{{ $labels.namespace }}`}}/{{`{{ $labels.pod }}`}} in {{`{{ $labels.environment }}`}}) - warnings processing feeds {{`{{ $value }}`}} {{`{{ $labels.__name__ }}`}}
        feeds in last 5 minutes. 
      summary: Inventory Processor no events
      env: "{{`{{ $labels.environment }}`}}"


{{ end }}